.title{
	padding-top: 109px;
}
h1.title {
	width:50%;
	height: 47px;
	font-family: PT Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 47px;
	/* identical to box height */
	letter-spacing: -0.045em;
	padding-left: 243px;

	color: #000000;
}
h2.title{
width: 50%;
	height: 27px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	/* identical to box height */
	padding-left:215px;
	text-transform: uppercase;

	color: #000000;

}


p.title{
	padding-top: 24px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	padding-left:215px;
	color: #000000;
}
.teamimages{
	padding-left: 240px;
	padding-right: 275px;
}
img.first
	{	
	width: 238px;
	padding-top: 96px;
	}    
	img.firstl
	{	
	width: 238px;
	padding-top: 24px;
	}    
	img.secondl{
	padding-top: 48px;
	width: 238px;
	
}
.teamtitle{
	padding-bottom: 54px;
  
	font-family: PT Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	/* identical to box height */
	text-transform: uppercase;
	color: #000000;
	transform: rotate(90deg);
}

.teamname{
padding-top: 16px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */
color: #000000;

}

img.second{
	padding-top: 144px;
	width: 238px;
	
}

.end{
	position:absolute;
text-align: center;
width: 100%;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: black;
}